.dashboard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 20px;
}

.dashboard-item {
    background-color: var(--primaryColor) !important;
    border-radius: 15px;
    min-width: 48%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 25px;
    padding-left: 55px;
}

.dashboard-item span {
    font-weight: 700;
    font-size: 1.8em;
    color: var(--white);
}

.dashboard-saldo {
    flex-grow: 1;
}

.header-dashboard-section p{
    /* color: var(--white); */
    font-size: 1.8em;
    /* text-align: center; */
    margin-top: 10px;
}

.header-dashboard-section span{
    font-size: 18px;
    font-weight: 700;
}

.dashboard-page-header{
    text-transform: capitalize;
    font-family: var(--textHeader);
    font-size: 5em;
    font-weight: 700;
    color: var(--primaryColor);
}